



.navContainer{
    background-color: rgb(0, 0, 0) !important;
    background-image: url("https://www.transparenttextures.com/patterns/inspiration-geometry.png");
    color: aliceblue;
    display: flex;
    padding: 0 2% 0 1%;
    justify-content: center;
    transition: 1.5sec ease-in-out;


    
    .content{
        width: 90%;
        height: 10vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        img{
            width: 180px;
            height: 60px;
        }

        
    }}


    .Nav {
        text-align: center;
        position: relative;

        ul {
            list-style-type: none;
            margin-left: -40px;

            li {
                display: inline-block;

                a {
                    color: #e0e0e0;
                    text-decoration: none;

                    &:hover {
                        color: #00fff7f1;
                    }
                }


                a {
                    transition: all 0.3s ease;
                      display: block;
                      font-size: 18px;
                      font-weight: 600;
                      text-align: center;
                      padding: 15px 15px 0 15px;

                    //   &:hover {
                    //     transform: rotate(5deg) scale(1.1);
                    // }

                    
                    
                  }
            }
        }
    }
    

    

    

    

    

    
 